<h1>Books#show</h1>

<p><%= @book.title %></p>

<p><%= @book.body %></p>

<%= link_to "Edit", edit_book_path(@book.id) %>
<% if @book.user == current_user %>
    <%= link_to "Destroy", book_path(@book), method: :delete %>
  <% end %>